.about {
  height: 100vh;
}

.about-heading {
  color: white;
  margin-top: 80px;
}

.highlight {
  position: relative;
  font-size: 56px;
  font-weight: bold;
  color: white;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 42px;
  bottom: 5px;
  width: 80%;
  height: 20px;
  background-color: rgb(91, 212, 91);
  z-index: -1;
}

.about-content{
  margin-top: 70px;
}

.gradient-border {
  background: linear-gradient(
    90deg,
    rgba(30, 247, 10, 1) 0%,
    rgba(245, 245, 24, 1) 50%,
    rgba(0, 255, 255, 1) 100%
  );
  padding: 5px; /* thickness of the border */
  border-radius: 50%;
  display: inline-block;
}

.about-hero-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: block;
}

.about-p{
  font-size: 1.4rem;
  color: white;
  text-align: left;
  margin-top: 12px;
}