@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap);

body{
    background-color: #1A1A1A;
    overflow-x: hidden;
}

.highlight {
  position: relative;
  font-size: 56px;
  font-weight: bold;
  color: white;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 42px;
  bottom: 5px;
  width: 80%;
  height: 20px;
  background-color: rgb(91, 212, 91);
  z-index: -1;
}